<!-- <ul class="nav nav-pills">
    <li [class.active]="veiwMode == 'map'"><a (click)="veiwMode = 'map'">Map View</a></li>
    <li [class.active]="veiwMode == 'list'"><a (click)="veiwMode = 'list'">List View</a></li>
</ul>

<div [ngSwitch]="veiwMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div> -->
<!-- 
<button (click)="onadd()">Add</button>

<ul>
    <li *ngFor="let course of courses">
        {{course.name}}
        <button (click)="onRemove(course)">Remove</button>
    </li>
</ul> -->

<!-- <input [(ngModel)]="email" (keyup.enter)="keyup()"> -->

<app-contact-form></app-contact-form>